nodered/nodered/flows.json
[
    {
        "id": "0348a0a04014908c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0695e62b325eea6c",
        "type": "mqtt-broker",
        "name": "mosquitto 1.4.10",
        "broker": "192.168.255.6",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1411685a3c520a30",
        "type": "ui_tab",
        "name": "mosquitto",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ee190c5a4549b6a1",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "1a632af0c24a2aca",
        "type": "ui_group",
        "name": "bridge",
        "tab": "1411685a3c520a30",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "38ef440334f5f66b",
        "type": "ui_group",
        "name": "barrier",
        "tab": "1411685a3c520a30",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c9da6c34e5fb01de",
        "type": "ui_group",
        "name": "Status",
        "tab": "1411685a3c520a30",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7694ea426d22ee5d",
        "type": "mqtt in",
        "z": "0348a0a04014908c",
        "name": "",
        "topic": "node/sensor1",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "0695e62b325eea6c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 60,
        "wires": [
            [
                "580aa6ecf2871cc7",
                "490ee3d57652045c"
            ]
        ]
    },
    {
        "id": "062078bc4bde7e77",
        "type": "mqtt in",
        "z": "0348a0a04014908c",
        "name": "",
        "topic": "node/sensor2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0695e62b325eea6c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 140,
        "wires": [
            [
                "580aa6ecf2871cc7",
                "1681fcba9559acf6"
            ]
        ]
    },
    {
        "id": "580aa6ecf2871cc7",
        "type": "join",
        "z": "0348a0a04014908c",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 310,
        "y": 100,
        "wires": [
            [
                "a02c9a5ec8656bd8"
            ]
        ],
        "inputLabels": [
            "ff"
        ],
        "outputLabels": [
            "ff"
        ]
    },
    {
        "id": "490ee3d57652045c",
        "type": "ui_text",
        "z": "0348a0a04014908c",
        "group": "c9da6c34e5fb01de",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "sensor1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 320,
        "y": 60,
        "wires": []
    },
    {
        "id": "1681fcba9559acf6",
        "type": "ui_text",
        "z": "0348a0a04014908c",
        "group": "c9da6c34e5fb01de",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "sensor2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 320,
        "y": 140,
        "wires": []
    },
    {
        "id": "a02c9a5ec8656bd8",
        "type": "function",
        "z": "0348a0a04014908c",
        "name": "function 3",
        "func": "var jsonValue = msg.payload;\n\n\nif (jsonValue[\"node/sensor1\"] < 10 && jsonValue[\"node/sensor2\"] > 10) {\n    jsonValue[\"node/isShip\"] = 1;\n} else if (jsonValue[\"node/sensor2\"] < 10 && jsonValue[\"node/sensor1\"] > 10) {\n    jsonValue[\"node/isShip\"] = 0;\n} else {\n    jsonValue[\"node/isShip\"] = 404;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 100,
        "wires": [
            [
                "2220783fa947dac0"
            ]
        ]
    },
    {
        "id": "2220783fa947dac0",
        "type": "function",
        "z": "0348a0a04014908c",
        "name": "function 4",
        "func": "var temp = msg.payload;\ntemp.message = temp[\"node/isShip\"];\nmsg.payload = temp.message;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 100,
        "wires": [
            [
                "9ac665aca9a01f01"
            ]
        ]
    },
    {
        "id": "9ac665aca9a01f01",
        "type": "switch",
        "z": "0348a0a04014908c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 710,
        "y": 100,
        "wires": [
            [
                "9088a9821cf10d56"
            ],
            [
                "fdbdba5b598d4f37"
            ]
        ]
    },
    {
        "id": "9088a9821cf10d56",
        "type": "mqtt out",
        "z": "0348a0a04014908c",
        "name": "",
        "topic": "node/isShipTrue",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0695e62b325eea6c",
        "x": 920,
        "y": 60,
        "wires": []
    },
    {
        "id": "fdbdba5b598d4f37",
        "type": "mqtt out",
        "z": "0348a0a04014908c",
        "name": "",
        "topic": "node/isShipFalse",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0695e62b325eea6c",
        "x": 930,
        "y": 120,
        "wires": []
    },
    {
        "id": "3cc4c39b64185c49",
        "type": "mqtt in",
        "z": "0348a0a04014908c",
        "name": "",
        "topic": "node/isShipTrue",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0695e62b325eea6c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 360,
        "wires": [
            [
                "0d27c3f93886db44",
                "e223fabb531f4825",
                "dc8f8c1ed20d6475"
            ]
        ]
    },
    {
        "id": "0d27c3f93886db44",
        "type": "change",
        "z": "0348a0a04014908c",
        "name": "node/bridge",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "70",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 300,
        "wires": [
            [
                "ab43b80483c84752",
                "269149a0190f2dcc",
                "b161a1610ba076ad"
            ]
        ]
    },
    {
        "id": "e223fabb531f4825",
        "type": "change",
        "z": "0348a0a04014908c",
        "name": "node/alarm",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 360,
        "wires": [
            [
                "d6670683e3bc67f2",
                "2d7acab11cfa6a93",
                "565998cbac93f14b"
            ]
        ]
    },
    {
        "id": "dc8f8c1ed20d6475",
        "type": "change",
        "z": "0348a0a04014908c",
        "name": "node/barrier",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 420,
        "wires": [
            [
                "b0c7e33daa252e8b",
                "0da4aa92db8e2675",
                "b4e4f06bc23fbff7"
            ]
        ]
    },
    {
        "id": "b161a1610ba076ad",
        "type": "mqtt out",
        "z": "0348a0a04014908c",
        "name": "",
        "topic": "node/bridge",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0695e62b325eea6c",
        "x": 630,
        "y": 300,
        "wires": []
    },
    {
        "id": "565998cbac93f14b",
        "type": "mqtt out",
        "z": "0348a0a04014908c",
        "name": "",
        "topic": "node/alarm",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0695e62b325eea6c",
        "x": 630,
        "y": 440,
        "wires": []
    },
    {
        "id": "0da4aa92db8e2675",
        "type": "mqtt out",
        "z": "0348a0a04014908c",
        "name": "",
        "topic": "node/barrier",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0695e62b325eea6c",
        "x": 630,
        "y": 540,
        "wires": []
    },
    {
        "id": "269149a0190f2dcc",
        "type": "debug",
        "z": "0348a0a04014908c",
        "name": "bridgeMsg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 260,
        "wires": []
    },
    {
        "id": "2d7acab11cfa6a93",
        "type": "debug",
        "z": "0348a0a04014908c",
        "name": "alarmMsg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 400,
        "wires": []
    },
    {
        "id": "b0c7e33daa252e8b",
        "type": "debug",
        "z": "0348a0a04014908c",
        "name": "barrierMsg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 500,
        "wires": []
    },
    {
        "id": "ab43b80483c84752",
        "type": "ui_gauge",
        "z": "0348a0a04014908c",
        "name": "",
        "group": "1a632af0c24a2aca",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "degree",
        "label": "degree",
        "format": "{{value}}",
        "min": 0,
        "max": "90",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1100,
        "y": 560,
        "wires": []
    },
    {
        "id": "b4e4f06bc23fbff7",
        "type": "ui_gauge",
        "z": "0348a0a04014908c",
        "name": "",
        "group": "38ef440334f5f66b",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "degree",
        "label": "degree",
        "format": "{{value}}",
        "min": 0,
        "max": "90",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1100,
        "y": 700,
        "wires": []
    },
    {
        "id": "944f1d2a847d42e8",
        "type": "ui_text",
        "z": "0348a0a04014908c",
        "group": "c9da6c34e5fb01de",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "alarm",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1090,
        "y": 620,
        "wires": []
    },
    {
        "id": "d6670683e3bc67f2",
        "type": "function",
        "z": "0348a0a04014908c",
        "name": "function 5",
        "func": "if (msg.payload == 1){\n    msg.payload = true\n} else if (msg.payload == 0) {\n    msg.payload = false\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 360,
        "wires": [
            [
                "944f1d2a847d42e8"
            ]
        ]
    },
    {
        "id": "be9d91736d223268",
        "type": "mqtt in",
        "z": "0348a0a04014908c",
        "name": "",
        "topic": "node/isShipTrue",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0695e62b325eea6c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 840,
        "wires": [
            [
                "0191df191ab6328d",
                "15d88d2c67b92494",
                "c187b68451bd0a21"
            ]
        ]
    },
    {
        "id": "0191df191ab6328d",
        "type": "change",
        "z": "0348a0a04014908c",
        "name": "node/bridge",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 780,
        "wires": [
            [
                "699c61e2ca0acf4d",
                "eb10a137226393aa",
                "ab43b80483c84752"
            ]
        ]
    },
    {
        "id": "15d88d2c67b92494",
        "type": "change",
        "z": "0348a0a04014908c",
        "name": "node/alarm",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 840,
        "wires": [
            [
                "56a670d4b67e7e4d",
                "31dfcb6d5dea78d1",
                "80671fe2b27d730f"
            ]
        ]
    },
    {
        "id": "c187b68451bd0a21",
        "type": "change",
        "z": "0348a0a04014908c",
        "name": "node/barrier",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "90",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 900,
        "wires": [
            [
                "65973d9c98e6fd77",
                "eb40a92c9aa2fcc7",
                "b4e4f06bc23fbff7"
            ]
        ]
    },
    {
        "id": "eb10a137226393aa",
        "type": "mqtt out",
        "z": "0348a0a04014908c",
        "name": "",
        "topic": "node/bridge",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0695e62b325eea6c",
        "x": 630,
        "y": 780,
        "wires": []
    },
    {
        "id": "80671fe2b27d730f",
        "type": "mqtt out",
        "z": "0348a0a04014908c",
        "name": "",
        "topic": "node/alarm",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0695e62b325eea6c",
        "x": 630,
        "y": 920,
        "wires": []
    },
    {
        "id": "eb40a92c9aa2fcc7",
        "type": "mqtt out",
        "z": "0348a0a04014908c",
        "name": "",
        "topic": "node/barrier",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0695e62b325eea6c",
        "x": 630,
        "y": 1020,
        "wires": []
    },
    {
        "id": "699c61e2ca0acf4d",
        "type": "debug",
        "z": "0348a0a04014908c",
        "name": "bridgeMsg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 740,
        "wires": []
    },
    {
        "id": "31dfcb6d5dea78d1",
        "type": "debug",
        "z": "0348a0a04014908c",
        "name": "alarmMsg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 880,
        "wires": []
    },
    {
        "id": "65973d9c98e6fd77",
        "type": "debug",
        "z": "0348a0a04014908c",
        "name": "barrierMsg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 980,
        "wires": []
    },
    {
        "id": "56a670d4b67e7e4d",
        "type": "function",
        "z": "0348a0a04014908c",
        "name": "function 6",
        "func": "if (msg.payload == 1){\n    msg.payload = true\n} else if (msg.payload == 0) {\n    msg.payload = false\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 840,
        "wires": [
            [
                "944f1d2a847d42e8"
            ]
        ]
    }
]